1. What is the output of

In [1]:
print(2**3**2)

512

2. what is the out of

In [2]:
print(2*3**3*4)

216

3. what is the output of

In [3]:
print(10-4*2)

2

4. what is the output of the expression

In [4]:
print(-18//4)

-5

5. what is the output of the expression

In [5]:
print(2%6)

2

6. what is the ouput of the following code

In [6]:
x= 100
y =50
print(x and y)

50

7. what is the value of the following python expression

In [7]:
print(36/4)

9.0

8. what is the output of the following code

In [8]:
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

9. what is the out put of the following code

In [9]:
p,q,r = 10,20,30
print(p,q,r)

10 20 30

10. what is the output of the following code

In [10]:
valueone = 5**2
valuetwo = 5**3
print(valueone)
print(valuetwo)

25
125

11. what is the output of the following code

In [12]:
var = "james"*2*3
print(var)

jamesjamesjamesjamesjamesjames

12. what is the output of the following code

In [13]:
x = 36/4*(3+2*4+2)
print(x)

117.0

13. what is the data type of

In [15]:
print(type(10))

<class 'int'>

14.. Creating an int variable, float variable, string variable and assign the 
values to the above three variable names.

In [17]:
a = 10
b = 10.5
c = "srinu"
print(a)
print(b)
print(c)

10
10.5
srinu

15.  Create Integer number

In [20]:
roll_number = 33
print(type(roll_number))
roll_number02 = 25
print(type(roll_number02))

<class 'int'>
<class 'int'>